@font-face {
font-family: 'Spartan', sans-serif; /* Gewünschter Name */
 src: url('fonts');
           /* für IE9 */
 src: url('fonts')
           format('embedded-opentype'),
           /* für IE6-IE8 */
      url('fonts')
           format('woff'),
          /* für moderne Browser */
      url('fonts')
           format('truetype');
         /* für Safari, Android, iOS */
}

body {
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #DF7976;
}

svg {
  cursor: pointer;
}

svg:hover {
  fill: red;
}

h1 {
  font-family: 'Spartan', sans-serif;
  font-size: 0.9rem;
}

h2 {
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

h3 {
  font-family: 'Spartan', sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

h4 {
  font-family: 'Spartan', sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

h5 {
  font-family: 'Spartan', sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.medium {
    font-weight: 400;
  }

.bold {
    font-weight: 700;
  }

body {
  width: auto;
  font-family: 'Spartan', sans-serif;
  margin: 0;
}

div {
  margin-bottom: 0;
}

/* header */

.logo {
  width: 170px;
  padding-top: 1rem;
}

.background_header {
  background-color: #ffffff;
  height:10vh;
}

.container_header {
  display: grid;
  height:10vh;
  width: 1140px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  margin-left: auto;
  margin-right: auto;
}

.headeritemone {
  grid-column-start:1;
  grid-column-end:3;
  height:10vh;
}

.headeritemabout {
  grid-column-start:7;
  grid-column-end:9;

}

.headeritemshop {
  grid-column-start:9;
  grid-column-end:11;

}

.headeritemaccount {
  grid-column-start:11;
  grid-column-end:13;

}

.headeritem {

}

.textright {
  text-align: right;
}

.textleft {
  text-align: left;
}

.iconheader {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 15px;
  transform: translateY(4px);
}

.menufont {
  color: #5A5A5A;
  display: inline-block;
  margin-top: 25px;
}

.headeritem .default {
  display: inline-block;
}

.headeritem .active {
  display: none;
}

.headeritem:hover .default {
  display: none;
}

.headeritem:hover .active {
  display: inline-block;
}

.headeritem:hover .menufont {
    color: #DF7976;
}

/* header */

.background_navi {
  background-color: #ffffff;
  height:60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* navi */

.container_navi {
  display: grid;
  width: 1140px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 101;
}

.navione {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;
  height:5vh;
  display:inline;
}

.navitwo {
  grid-column-start:3;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;
  height:5vh;
  display:inline;
}

.navithree {
  grid-column-start:5;
  grid-column-end:7;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;
  height:5vh;
  display:inline;
}

.navifour {
  grid-column-start:7;
  grid-column-end:9;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;
  height:5vh;
  display:inline;
}

.iconnavi {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 15px;
  float: left;
}

.navifont {
  color: #5A5A5A;
}

/* navi */

/* breadcrumb */

.container_breadcrumb {
  display: grid;
  height: 5vh;
  width: 1140px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  margin-left: auto;
  margin-right: auto;

}

.breadcrumbone {
  grid-column-start:1;
  grid-column-end:13;
}



/* container_product */

.container_product {
  display: grid;
  width: 1140px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 40px 120px 140px 120px 120px 120px 120px;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  margin-left: auto;
  margin-right: auto;
  grid-auto-flow: column;

}

/* columnproduct */

.columnproduct {
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:6;
}

.tag {
  text-align: center;
  width: 100px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #DF7976;
  font-family: 'Spartan', sans-serif;
  font-size: 0.7rem;
  line-height: 1.3rem;
  cursor: pointer;
}

.tag:hover {
  background-color: #DF7976;
}

.tag>a {
  color: #5A5A5A;
}

.tag:hover>a {
  color: white;
}

.tagfaq {
  margin-bottom: 2rem;
}

/* faq */

.columnfaq {
  grid-column-start:5;
  grid-column-end:13;
  grid-row-start:1;
  grid-row-end:2;
  width: auto;
  z-index: 200;
}

.faq_sofar {
  grid-column-start:5;
  grid-column-end:13;
  grid-row-start:2;
  grid-row-end:2;
  width: auto;
}

.faq_questionone {
  grid-column-start:5;
  grid-column-end:9;
  grid-row-start:3;
  grid-row-end:4;
  width: auto;
}

.faq_answerone {
  grid-column-start:9;
  grid-column-end:13;
  grid-row-start:3;
  grid-row-end:4;
  width: auto;
}

.faq_questiontwo {
  grid-column-start:5;
  grid-column-end:9;
  grid-row-start:4;
  grid-row-end:5;
  width: auto;
}

.faq_answertwo {
  grid-column-start:9;
  grid-column-end:13;
  grid-row-start:4;
  grid-row-end:5;
  width: auto;
}

.faq_questionthree {
  grid-column-start:5;
  grid-column-end:9;
  grid-row-start:5;
  grid-row-end:6;
  width: auto;
}

.faq_answerthree {
  grid-column-start:9;
  grid-column-end:13;
  grid-row-start:5;
  grid-row-end:6;
  width: auto;
}

/* linie */

.container_faq {

  display: grid;
  width: 1140px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  margin-left: auto;
  margin-right: auto;

}

.faq_line {
  grid-column-start:5;
  grid-column-end:13;
  grid-row-start:6;
  grid-row-end:7;
  width: auto;
}

hr {
  background-color:#CCCCCC;
  color:#CCCCCC;
  border:#CCCCCC;
  height:1px;
}

.iconplus {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.inline {
  display: inline;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

/* questionbox */

.faq_questionbox {
  grid-column-start:5;
  grid-column-end:13;
  grid-row-start:7;
  grid-row-end:8;
  width: auto;
}

.questionbox {
  position: relative;
  width: 100%;
  height: 34px;
  border-radius: 20px;
  border: 2px solid #DF7976;
}

.iconquestion {
  width: 30px;
  height: 30px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  float: left;
}

.iconquestionplus {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 4px;
  margin-top: 2px;
}

.red {
  color: #DF7976;
}

.anthrazit {
  color: #5A5A5A;
}

/* animation */

.faq_questionanimation {
  grid-column-start:5;
  grid-column-end:13;
  grid-row-start:8;
  grid-row-end:9;
  width: auto;
}


/* input label */

input[type="checkbox"] {

display: none;

}


label {

cursor: pointer;


}


div.animation {

overflow: hidden;
height: 30px;
width: 100%;
border-radius: 20px;
border: 2px solid #DF7976;

transition: height 0.5s ease;

}

div.animation:hover {

  border-color: #D5D5D5;
  background-color: white;

}

.iconanimation {
  width: 25px;
  height: 25px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  float: left;
}

input:checked+label>div.animation>div.open:after {

content: "-";
font-family: 'Spartan', sans-serif;
font-size: 2rem;
line-height: 2rem;
height: 25px;
width: 25px;
display: inline-block;


}

input:not(:checked)+label>div.animation>div.open:after {

content: "+";
font-family: 'Spartan', sans-serif;
font-size: 2rem;
line-height: 2rem;
height: 25px;
width: 25px;
display: inline-block;
transform: translateY(2px);

}

input:not(:checked)+label>div.animation>div.open:hover:after {

margin-top: 0px;

}

input:checked+label>div.animation>div.open:hover:after {


}

input:not(:checked)+label>div.animation {

 height: 30px;

}

input:checked+label>div.animation {

height: 340px;
border-radius: 20px;
transform-origin: top left;
border-color: #D5D5D5;
background-color: white;

}

.open {
  margin-left: 5px;
  margin-right: 5px;
}

.fontbox {
  margin-top: 8px;
  float: left;
}

div.contentbox {
  font-size: 1rem;
  color: #5A5A5A;
  margin-left: 20px;
}

input:not(:checked)+label>div.animation>div.open:after>div.contentbox>form {

max-height: 20em;

}


input:not(:checked)+label>div.animation>div.open:after>div.contentbox>form {

max-height: 0em;

}

p {
margin: 0;
overflow: hidden;
transition: max-height 1.5s ease;

}

/* form */

form {
  border-radius: 4px;
  height: 200px;
  margin: 20px;
}

input[type=text], select {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 97%;
  height: 200px;
  padding: 10px;
  resize: none;
  overflow: auto;
  background-color: #EFEFEF;
  border: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

input::placeholder {
  color: #DF7976;
  opacity: 1; /* Firefox */
  font-family: 'Spartan', sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

input[type=submit] {
  width: 120px;
  background-color: #DF7976;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5A5A5A;
}


div.openquestion:hover {
  color: white;
}

.openquestion {
  margin-right: 5px;
  margin-bottom: 20px;
}


input:checked+label+div.morequestions {

max-height: 20em;

}


input:not(:checked)+label+div.morequestions {

max-height: 0em;

}

div.morequestions {
margin: 0;
overflow: hidden;
transition: max-height 1.5s ease;

}

.morequestions {
  display: grid;
}

.faq_questionfour {
  grid-column-start:5;
  grid-column-end:9;
  grid-row-start:4;
  grid-row-end:7;
  width: auto;
}

.faq_answerfour {
  grid-column-start:10;
  grid-column-end:13;
  grid-row-start:4;
  grid-row-end:7;
  width: auto;
}

/* pulldown animation */

input:checked+label>div.animation>div.openpulldown:after {

content: "";
display: inline-block;
border: 6px solid transparent;
border-color: transparent transparent #DF7976 transparent;
margin-right: 10px;


}

input:not(:checked)+label>div.animation>div.openpulldown:after {

content: "";
display: inline-block;
border: 6px solid transparent;
border-color: #DF7976 transparent transparent transparent;
transform: translateY(8px);
margin-right: 10px;

}

.marginleft {
  margin-left: 20px;
}

.floatclear {
  clear:left
}

div.link {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  font-family: 'Spartan', sans-serif;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

input:checked+label>div.animation>div.contentbox>div.link:hover {

background-color: #EFEFEF;

}

/* card */

.background_themen {
  height: 500px;
  background-color: #EFEFEF;
}

.container_themen {

  display: grid;
  width: 1140px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 400px;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  margin-left: auto;
  margin-right: auto;
  grid-auto-flow: column;

}

.container_themen>h2 {
  margin-top: 40px;
}

.themen {

  grid-column-start:1;
  grid-column-end:13;
  grid-row-start:1;
  grid-row-end:1;

}

.columncardone {

  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:2;
  grid-row-end:3;
  width: auto;

}

.columncardtwo {

  grid-column-start:5;
  grid-column-end:9;
  grid-row-start:2;
  grid-row-end:3;
  width: auto;

}

.columncardthree {

  grid-column-start:9;
  grid-column-end:13;
  grid-row-start:2;
  grid-row-end:3;
  width: auto;

}

.imagecard {
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: absolute;
  clip:rect(0px 800px 170px 0px);
}

.card {
  position: relative;
  height: 340px;
  width: auto;
  background-color: white;
  border-radius: 20px;
}

.headlinecard {
  position: absolute;
  margin-top: 180px;
  margin-left: 20px;
  margin-right: 20px;
}

.copycard {
  position: absolute;
  margin-top: 210px;
  margin-left: 20px;
  margin-right: 20px;
}

.tagcard {
  position: absolute;
  margin-top: 295px;
  margin-left: 20px;
  text-align: left;
}

.icontag {
  width: 15px;
  height: 15px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  float: left;
}

/* shop */

.container_shopquestion {

  display: grid;
  width: 1140px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 360px;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  margin-left: auto;
  margin-right: auto;
  grid-auto-flow: column;

}

.shopheadline {

  grid-column-start:1;
  grid-column-end:13;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;

}

.cardquestion {
  position: relative;
  height: 320px;
  width: auto;
  background-color: #EFEFEF;
  border-radius: 20px;
}

.cardquestion:hover {
  background-color: #DDDDDD;
}

.columncardquestionone {

  grid-column-start:1;
  grid-column-end:7;
  grid-row-start:2;
  grid-row-end:3;
  width: auto;

}

.columncardquestiontwo {

  grid-column-start:7;
  grid-column-end:13;
  grid-row-start:2;
  grid-row-end:3;
  width: auto;

}

.imagequestion {
  width: 160px;
  height: 160px;
  border-radius: 4px 4px 4px 4px;
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
}

.blockcardquestion {
  position: absolute;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 20px;
}

.imageshop {
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: absolute;
  clip:rect(0px 800px 295px 0px);
}

.headlineshop {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.copyshop {
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.positionrelative {
  position: relative;
}
